<div class="col-6">
{{ form_start(form) }}
    <div class="mb-6">
        {{ form_label(form.title, 'Название', {'label_attr': {'class': 'form-label'}})}}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.title) }}
    </div>
    <div class="mb-6">
        {{ form_label(form.description, 'Описание', {'label_attr': {'class': 'form-label'}})}}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.description) }}
    </div>
    <div class="mb-6">
        {{ form_label(form.code, 'Код', {'label_attr': {'class': 'form-label'}})}}
        {{ form_widget(form.code, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.code) }}
    </div>
    <button class="btn btn-primary mt-3">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}
</div>
