{% extends 'base.html.twig' %}

{% block title %}{{ course.title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}

            {% if courseType['type'] == 'free' %}
                <div class="mb-4">
                    <h4 class="text-bg-success free-type">Бесплатно</h4>
                </div>

            {% elseif courseType['type'] == 'rent' %}
                <div class="mb-4">
                    <h4 class="text-bg-success rent-type">Стоимость аренды {{ courseType['price'] }} руб.</h4>
                </div>
                {% if is_granted('ROLE_USER') %}
                    {% if transactions is empty and available %}
                        <div class="mb-4">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#coursePayment">
                                Арендовать
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="coursePayment" tabindex="-1"
                                 aria-labelledby="coursePaymentLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="coursePaymentLabel">Купить курс</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Отмена
                                            </button>

                                            <form method="post"
                                                  action="{{ path('app_course_buy', {'id': course.id}) }}">
                                                <input type="hidden" name="_token"
                                                       value="{{ csrf_token('buy' ~ course.id) }}">
                                                <button class="btn btn-outline-danger course-buy">Ок</button>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% elseif transactions %}
                        <div class="mb-4">
                            <h4 class="text-bg-success rent-data">Арендовано
                                до {{ transactions[0]['expires_at']|date('d.m.Y') }}</h4>
                        </div>
                    {% endif %}
                {% endif %}
            {% elseif courseType['type'] == 'buy' %}
                <div class="mb-4">
                    <h4 class="text-bg-success buy-type">Стоимость курса {{ courseType['price'] }}
                        руб.</h4>
                </div>
                {% if is_granted('ROLE_USER') %}
                    {% if transactions is empty and available %}
                        <div class="mb-4">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#coursePayment">
                                Купить
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="coursePayment" tabindex="-1"
                                 aria-labelledby="coursePaymentLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="coursePaymentLabel">Купить курс</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Отмена
                                            </button>

                                            <form method="post"
                                                  action="{{ path('app_course_buy', {'id': course.id}) }}">
                                                <input type="hidden" name="_token"
                                                       value="{{ csrf_token('buy' ~ course.id) }}">
                                                <button class="btn btn-outline-danger course-buy">Ок</button>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% elseif transactions %}
                        <div class="mb-4">
                            <h4 class="text-bg-success buy-data">Куплено</h4>
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}


            <h1 class="course-title">{{ course.title }}</h1>

            <p class="course-description">{{ course.description }}</p>

            <h2>Уроки</h2>

            {% for key, lesson in lessons %}

                <div>{{ key+1 }}. <a href="{{ path('app_lesson_show', {'id': lesson.id}) }}"
                                     class="text-decoration-none lesson-link">{{ lesson.title }}</a>
                </div>
            {% endfor %}

            <hr>
            <a href="{{ path('app_course_index') }}" class="btn btn-outline-secondary">К списку курсов</a>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <form method="post" action="{{ path('app_course_delete', {'id': course.id}) }}"
                      onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <a href="{{ path('app_course_edit', {'id': course.id}) }}"
                       class="btn btn-outline-secondary course-edit">Редактировать
                        курс</a>
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ course.id) }}">
                    <button class="btn btn-outline-danger course-delete">Удалить</button>
                    <a href="{{ path('app_lesson_new', {'course_id': course.id}) }}"
                       class="btn btn-outline-secondary course-new-lesson">Добавить
                        урок</a>
                </form>
            {% endif %}

        </div>
    </div>


{% endblock %}
